
body {
    background: #f6f7f8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-color: #0079d3; 
}

.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    height: 95px;
    background: white;
    border-bottom: 1px solid #ccc;
}

.title-container .image-container img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -60px;
    object-fit: cover;
}

.name-container p {
    font-size: 24px;
    font-weight: bold;
}

.name-container span {
    color: rgb(220, 81, 0);
}

.create-post-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 30px;
    width: 150px;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #0079D3;
    color: #0079D3;
    font-weight: bold;
}

.create-post-container img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.create-post-container:hover {
    background-color: rgb(225, 231, 233);
    cursor: pointer;
}

.delete-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.delete-container:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.delete-container img {
    width: 30px;
    height: auto;
}

.content-container {
    display: flex;
    gap: 25px;
    padding: 25px;
    max-width: 1150px;
    margin: auto;
}

.post-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 95%;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 12px;
}

.post-user-container {
    display: flex;
    align-items: center;
}

.post-user-container img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.post-user-container p {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}

.post-user-container span {
    color: rgb(220, 81, 0);
}

.post-user-container h3 {
    font-size: 10px;
    font-weight: 400;
    margin-left: 20px;
    color: #888;
}

.post-content-container {
    display: flex;
    flex-direction: column;
    
}

.post-content-container h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.post-content-container p {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    color: #707070;
}

.image {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 10px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.left-arrow {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: #aca7a7;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.right-arrow {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #aca7a7;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-arrow:hover,
.left-arrow:hover {
    cursor: pointer;
    opacity: 1;
}

.left-arrow img {
    width: 26px;
    height: 26px;
    margin-right: 4px;
}
.right-arrow img {
    width: 26px;
    height: 26px;
    margin-left: 4px;
}

.posts-grid {
    flex: 1;
}

.posts-grid::before {
    display: block;
    text-align: center;
    padding: 40px;
    color: #888;
    font-size: 18px;
}

.post-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 6px;
}

.like-comment-btns {
    display: flex;
    margin: 0;
}

.like-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: #dee8fe;
    border-radius: 18px;
}

.like-btn img {
    width: 14px;
    height: 14px;
}

.like-btn p {
    margin: 0;
}

.up-btn,
.down-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.up-btn:hover,
.down-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.comment-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: #dee8fe;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    text-decoration: none;
    color: black;
}

.comment-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.comment-btn img {
    width: 14px;
    height: 14px;
}

.comment-btn p {
    margin: 0;
    margin-left: 10px;
}

.delete-btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #dee8fe;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
}

.delete-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.delete-btn img {
    width: 14px;
    height: 14px;
}

.community-info {
    width: 310px;
}

.no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.no-posts img {
    width: 170px;
    height: auto;
}

.no-posts h2 {
    font-size: 18px;
}

.info-box {
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 18px;
}

.info-box span {
    color: rgb(220, 81, 0);
}

.info-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-box .desc {
    margin-bottom: 18px;
    line-height: 1.4;
}

.info-box .created {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.info-box .created img {
    width: 20px;
}



@media (max-width: 900px) {
    .content-container {
        flex-direction: column;
    }

    .community-info {
        width: 100%;
    }
}
