.body-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 40px auto 60px auto;
    gap: 40px;
    padding: 0 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 350px;
  height: 360px;
  padding: 20px;
  overflow: hidden;
}

.form-container img {
  width: 280px;
  height: 300px;
  border: 4px solid white;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
}

.form-container button {
  margin-top: 15px;
  background-color: #0079D3;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px 22px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container button:hover {
  background-color: #1484d6;
}

.banner {
  width: 100%;
  height: 100px;
  background-color: #0079D3;
}


.avatar-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 350px;
  gap: 18px;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.image-wrapper{
  position: relative;
  width: 130px;
  height: 150px;
  border-radius: 8px;
}

.image-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.887);
  cursor: pointer;
  z-index: 2;
}

.image-wrapper::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.2s ease; 
    z-index: 3;
}

.image-wrapper:hover::after {
    opacity: 1;
}

.image-wrapper img{
  width: 130px;
  height: 150px;
  border-radius: 8px;
}

.image-wrapper input{
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 4;
}