body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #DAE0E6;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEFF1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0; 
    z-index: 10;
    width: 100%;
    margin-top: 0; 
}

.logo-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 16px;
}

.logo-container .reddit-logo {
    height: 48px;
    width: auto;
}

.search-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
    background-color: #F6F7F8;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0 10px;
    transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
    height: 36px;
    margin: 0 16px;
    background-color: rgb(225, 231, 233);
}

.search-container:hover {
    background-color: rgb(225, 231, 233);
}

.search-container:focus-within {
    background-color: rgb(225, 231, 233);
    border: 1px solid #0079D3;
}

.search-container .search-icon {
    height: 18px;
    width: 18px;
    opacity: 0.6;
    background-color: rgb(225, 231, 233);
}

.search-container input {
    border: none;
    outline: none;
    background-color: rgb(225, 231, 233);
    flex-grow: 1;
    padding: 0 8px;
    font-size: 14px;
    color: #1A1A1B;
    height: 100%;
}

.search-container input:focus{
    background-color: rgb(225, 231, 233);
}

.search-container input:active{
    background-color: rgb(225, 231, 233);
}

.user-search-container{
    display: flex;
    align-items: center;
    height: 26px;
    margin-left: 10px;
    border: 1px solid rgb(171, 171, 171);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.user-search-container img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.user-search-container p{
    margin: 0;
    margin-left: 10px;
    font-size: 12px;
}

.search-results {
    display: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 15;
    display: none;
    padding-bottom: 10px;
}

.search-results.active {
    display: flex;
    flex-direction: column;
}

.search-no-result {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
}

.search-result-container {
    display: flex;
    padding: 10px 12px;
}

.search-result-container:hover {
    cursor: pointer;
    background-color: rgb(225, 231, 233);
}

.search-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
}

.search-image-container img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: contain;
}

.search-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    margin-left: 10px;
}

.search-info-container h3 {
    margin: 0;
    font-size: 12px;
}

.search-info-container p {
    margin: 0;
    font-size: 12px;
}

.buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    gap: 8px;
    margin-right: 36px;
}

.login-container a, .signup-container a {
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 8px;
    line-height: 1.5;
}

.login-container a {
    color: #0079D3;
    border: 1px solid #0079D3;
    background-color: transparent;
}
.login-container a:hover {
    background-color: #EAF5FF;
}

.signup-container a {
    color: white;
    background-color: #FF4500;
    border: 1px solid #FF4500;
}
.signup-container a:hover {
    background-color: #E44917;
}

.create-post-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 12px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.1s ease-in-out;

}

.create-post-btn:hover {
    background-color: rgb(225, 231, 233);
}

.plus-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.create-post-btn p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 10px
}

.notifications-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.notifications-container:hover {
    background-color: rgb(225, 231, 233);
}

.notifications-container img{
    width: 20px;
    height: 20px;
}

.notification-number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #E44917;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    gap: 8px;
}

.user-info:hover {
    background-color: rgb(225, 231, 233);
    cursor: pointer;
}

.green-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: rgb(121, 196, 8);
    left: 6px;
    bottom: 6px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    object-fit: cover;
}

#userMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 180px;
    left: 0;
    top: 56px;
    background-color: white;
    padding: 14px 10px;
    border-radius: 10px;
    display: none;
    box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.2);
}
#userMenu.active {
    display: block;
}
#userMenu a {
    text-decoration: none;
    color: black;
}

.edit-container img,
.logout-container img {
    width: 18px;
    height: 18px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.profile-container h3{
    font-size: 14px;
    margin: 0;
}
.profile-container p{
    font-size: 14px;
    margin: 0;
}

.edit-container,
.logout-container {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 6px
}
.edit-container:hover,
.logout-container:hover,
.profile-container:hover{
    background-color: rgb(225, 231, 233);
    cursor: pointer;
}

.notification-grid{
    display: none;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 204px;
    left: 0;
    right: 20px;
    top: 56px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.2);
}

.notification-grid.active{
    display: flex;
}

.empty-notification {
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.see-all-nott {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.single-notification{
    display: flex;
    text-decoration: none;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
}

.single-notification:hover {
    background-color: rgb(225, 221, 221);
    cursor: pointer;
}

.notification-body p {
    font-size: 11px;
    line-height: 1.4;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-body span {
    font-weight: 600;
}

.sender-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sender-avatar img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.notification-body{
    margin-left: 6px;
}

.notification-body p {
    font-size: 11px;
}

@media (max-width: 800px) {
    .username-text, .create-post-btn p {
        display: none;
    }
    .user-dropdown {
        min-width: auto;
    }
    .create-post-btn {
        padding: 6px 6px;
    }
}

@media (max-width: 650px) {
    .search-container {
        display: none;
    }
}

@media (max-width: 400px) {
    .logo-container .reddit-logo {
        height: 28px;
    }
}