body{
    background-color: white;
}

.posts-grid {
    flex: 1;
}

.posts-grid::before {
    display: block;
    text-align: center;
    padding: 40px;
    color: #888;
    font-size: 18px;
    margin-left: 20px;
}

.post-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 249, 253);
    width: 95%;
    max-width: 1300px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 12px;
    margin-left: 10px;
    text-decoration: none;
}

.post-user-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(103, 103, 103);
    padding-top: 6px;
    padding-left: 4px;
}

.post-user-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 0;
}

.post-comm-img-container{
    display: flex;
    align-items: center;
}

.post-comm-img-container:hover{
    cursor: pointer;
}

.post-comm-img-container img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-info-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 10px;
}

.post-info-wrapper a{
    text-decoration: none;
}

.post-info-wrapper p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    color: rgb(83, 83, 83);
    margin: 0;
}

.post-info-wrapper span {
    color: rgb(220, 81, 0);
}

.i-dont-know-what-to-name-these-blody-containers h3 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    color: #888;
    margin: 0;
    margin-left: 10px;
}

.i-dont-know-what-to-name-these-blody-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-content-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.post-content-container h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 6px;
    color: rgb(81, 81, 81);
}

.post-content-container p {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    color: #707070;
}

.image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 500px; 
}

.image img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.left-arrow {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: #aca7a7;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    left: 0;
}
.right-arrow {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #aca7a7;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-arrow:hover,
.left-arrow:hover {
    cursor: pointer;
    opacity: 1;
}

.left-arrow img {
    width: 26px;
    height: 26px;
    margin-right: 4px;
}

.posts-grid {
    flex: 1;
    
}

.right-arrow img {
    width: 26px;
    height: 26px;
    margin-left: 4px;
}


.post-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 6px;
}

.like-comment-btns {
    display: flex;
    margin: 0;
}

.like-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: #dee8fe;
    border-radius: 18px;
}

.like-btn img {
    width: 14px;
    height: 14px;
}

.like-btn p {
    margin: 0;
}

.up-btn,
.down-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.up-btn:hover,
.down-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.comment-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: #dee8fe;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
    text-decoration: none;
    color: black;
}

.comment-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.comment-btn img {
    width: 14px;
    height: 14px;
}

.comment-btn p {
    margin: 0;
    margin-left: 10px;
}

.delete-btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #dee8fe;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 18px;
}

.delete-btn:hover {
    background-color: #c6d3f0;
    cursor: pointer;
}

.delete-btn img {
    width: 14px;
    height: 14px;
}