
.body-container{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
    min-height: 100vh;
}

.nott-title{
    
}

.options-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

.mark-all,
.delete-all{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    height: 30px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
}

.mark-all:hover,
.delete-all:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

.nott-grid{
    display: flex;
    flex-direction: column;
}

.single-nott{
    display: flex;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    width: 90%;
    padding: 10px 10px;
    border-radius: 4px;
}

.single-nott:hover{
    cursor: pointer;
    background-color: rgb(227, 227, 227);
}

.sender-nott-avatar{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100px;
    height: auto;
}

.sender-nott-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nott-body{
    margin: 0;
}

.nott-body p{
    font-size: 15px;
    color: black;
    margin: 0;
}

.nott-body p span{
    font-weight: 600;
}

.nott-body h4{
    font-size: 14px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    margin: 0;
    margin-top: 6px;
}